.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85px;
  font-family: "papyrus";
  background-color: #201f1c;
  border-bottom: 2px solid #f0ede4;
}

.nav {
  display: flex;
  padding-top: 0.8rem;
}

.btn {
  display: flex;
  text-decoration: none;
  color: white;
  margin-right: 2.5rem;
  font-size: 1.5rem;
}

.logo {
  width: 70px;
  height: auto;
  margin-left: 4rem;
}
.links {
}
.links > img {
  width: 35px;
  height: 35px;
  padding-right: 2rem;
  padding-top: 1rem;
}
